<!DOCTYPE html>
<html lang="UTF-8">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Rangiri Aqua Action Park Dambulla" />
  <meta name="keywords" content="Adventure, Team-Building, Leisure, Nature, Education, Training, Rangiri Holdings" />
  <title>Rangiri Aqua - Action Park</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="stylesheet" href="../CSS/styles.css" />
  <link rel="stylesheet" href="../CSS/adventure.css">
 </head>

<body>
     <!-- Navigation Bar -->
   <header class="header">
    <nav>
      <!-- Logo -->
      <a href="index.html"><img src="../Assets/Images/Untitled-1-300x111.png" class="logo" alt="Logo"></a>

      <div class="menu-icon" id="menuIcon">
        <i class="fas fa-bars" style="background: transparent;"></i>
      </div>

      <div class="nav-links" id="navLinks">
       
        <ul>
          <li><a href="adventure.html" >Adventure</a></li>
          <li><a href="team-building.html" >Team Building</a></li>
          <li><a href="facilities.html" >Our Facilities</a></li>
          <li><a href="aboutUs.html" >About Us</a></li>
          <li><a href="contactUs.html" >Contact Us</a></li>
        </ul>
      </div>

      <!-- Social Media icons-->
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </nav>
  </header>



  <script src="../Scripts/scripts.js"></script>

  </body>
</html>