<!DOCTYPE html>
<html lang="UTF-8">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Rangiri Aqua Action Park Dambulla" />
  <meta name="keywords" content="Adventure, Team-Building, Leisure, Nature, Education, Training, Rangiri Holdings" />
  <title>Rangiri Aqua - Action Park</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="stylesheet" href="../CSS/styles.css" />
  <link rel="stylesheet" href="../CSS/aboutUs.css">
 </head>

<body>
     <!-- Navigation Bar -->
   <header class="header">
    <nav>
      <!-- Logo -->
      <a href="index.html"><img src="../Assets/Images/Untitled-1-300x111.png" class="logo" alt="Logo"></a>

      <div class="menu-icon" id="menuIcon">
        <i class="fas fa-bars" style="background: transparent;"></i>
      </div>

      <div class="nav-links" id="navLinks">
       
        <ul>
          <li><a href="adventure.html" >Adventure</a></li>
          <li><a href="team-building.html" >Team Building</a></li>
          <li><a href="facilities.html" >Our Facilities</a></li>
          <li><a href="aboutUs.html" >About Us</a></li>
          <li><a href="contactUs.html" >Contact Us</a></li>
        </ul>
      </div>

      <!-- Social Media icons-->
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </nav>
  </header>







  <div class="aboutUs">
    <div class="animated-heading-wrapper">
      <h1 class="text">About Us</h1>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none" class="marker-line">
        <path d="M325,18 C228.7,-8.3 118.5,8.3 78,21 C22.4,38.4 4.6,54.6 5.6,77.6 C7,110 57.8,131.6 148.2,141.3 C214.4,148.4 360.4,148.8 421.7,133 C486.1,116.4 526,75.4 455.5,34.8 C386.7,-4.9 179.4,-1.4 126.3,20.7" />
      </svg>
    </div>


  <div class="about-us-sec1">
    <div>
      <img src= "../Assets/Images/logos/aqualogo-2.png" >
    </div>
    <div >
      <p class="para-type2" style="font-size: 1rem;">RANGIRI AQUA comes under the shadow of “Asmadala” historical Rock formation, where ancient king Sithawaka Rajasinghe's horse stable was located. Also his army of soldiers rehearsed thrilling outdoor challenges in the valley of Kelani. It is a spectacular locations surrounded by panaromic greenary and waters, in the province that was always vulnerable to invasion.</p><br>
      <p class="para-type2" style="font-size: 1rem;"> Today, you will still march into the same serenity with modern approach to education through outbound training. We will use our expertise and experience mentors to satisfy the objectives of our clients. </p><br>
      <p class="para-type2" style="font-size: 1rem;">In fact, we are Pioneers in Paintball, ATV Riding, Hoveboarding and Zorbing in Sri Lanka. </p>
      <p class="para-type2" style="font-size: 1rem;">Defense Services Command and Staff College (Army, Navy & Air Force Sri Lanka) utilizes our venue and equipment for their training programs more than a half a decade.</p><br>
      <p class="para-type2" style="font-size: 1rem;"> When it comes to Soft Skill, Psychometric and Behavioral Modifications, our Training Guru Chandana Abegunawardhane is an authority to assist you to reach your corporate goals with integrity</p>
    </div>
    
  </div>








  

</div>




  


  <script src="../Scripts/scripts.js"></script>

  </body>
</html>